.descricao-produto{
    text-align: center;
    color: red;
    font-size: 18px;
    margin-top: 20px;
}

.img-produto{
    overflow: hidden;
    padding: 0;
    text-align: center;
    border-radius: 4px;
    height: 120px;
  }
  
  .img-produto img{
    height: 100%;
  }

  .custom-text {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #000000;
  }

  .fonte{
    font-family: Arial, sans-serif;
      font-size: 21px;
      color: #FFA500;
  }

  .cor-letra{
    color: #FFA500
  }
